html {
	height: 95vh;
}
body {
	display: flex;
	height: 100vh;
	flex-direction: column;
	text-align: center;
	background-color: blue;
	}
h1 {
	margin: 7vw 5vw;
	font-size: 8em;
	color: white;
}
.bus {
	margin: 8vw 2vw;
}
.nearestBus {
	margin: 4vw 5vw;
	background-color: transparent;
	font-size: 1.5em;
	font-weight: bold;
    color: white;
    border-color: white;
    padding-left: 0;
    border-radius: 30px;
    cursor: pointer;
}


h2 {
	
	bottom: 5vw;
	margin: auto;
	font-size: 5em;
	color: white;
	font-weight: bold;
}
