html {
	height: 100vh;
}
body {
	display: flex;
	height: 96vh;
	flex-direction: column;
	text-align: center;
	background-color: blue;
	}
h1 {
	margin: 7vw 5vw;
	font-size: 8em;
	color: white;
}
.interactive-block {
	display: flex;
	height: 40vh;
	margin: 8vw 2vw;
	flex-direction: column;
	text-align: center;
}
.bus {
}
.nearestBus {
	margin: 4vw 5vw;
	background-color: transparent;
	font-size: 1.5em;
	font-weight: bold;
    color: white;
    border-color: white;
    border-radius: 30px;
    cursor: pointer;
}


h2 {
	margin: auto;
	font-size: 5em;
	color: white;
	font-weight: bold;
}
