body {
	  background-image: url("../bus_postavy/lunch.png"); /* Замените на путь к вашей картинке */
	  background-repeat: no-repeat; /* Отключает повторение */
	  /*background-size: cover; /* Растягивает изображение, чтобы покрыть весь элемент */*/
	  background-attachment: fixed; /* Фиксирует фон, не прокручивается с контентом */
	}
.nearestBus {

	margin-top: 880px;
	margin-left: 25px;
	background-color: transparent;
	font-size: 55px;
	font-weight: bold;
  color: white;
  border-color: white;
  padding: 10px 20px 10px 20px; /* Верхний, правый, нижний, левый отступ */
  border-radius: 50px;
  cursor: pointer;
}